## Basic String Operations
In this notebook you are going to see the most basic and useful strings operations

In [15]:
#Strings 
name = "Carlos Example"
# [C, a, r, l, o, s,  , E, x, a,  m,  p,  l,  e]
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
name[0], name[5]

('C', 's')

In [16]:
# We can also use negative indexing with strings.
# [  C,   a,   r,   l,   o,  s,   ,  E,  x,  a,  m,  p,  l,  e]
# [-14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]
name[-1], name[-14]

('e', 'C')

In [17]:
# We can Also Slice strings
print(name[0:4]) #From position 0 up to position 4
print(name[7:12]) #From position 7 up to position 12

Carl
Examp

In [18]:
# We can input a stride value. In this example The 2 indicates we select every second variable.
name[::2]

'Cro xml'

In [19]:
# We can combinate slicing to the last example
# [  C,   a,   r,   l,   o,  s]
# [  0,   1,   2,   3,   4,  5]
name[0:5:2]

'Cro'

In [20]:
# With the 'len' command we can obtain the length of the string.
len(name)

14

In [21]:
# We can concatenate or combine strings
statement = name + " is not a real person"
statement

'Carlos Example is not a real person'

In [22]:
# We can replicate values of a string. We simply multiply the string by the number.
"String example " *3

'String example String example String example '

In [23]:
# You can't chang the value of the string, but you can create a new string.
# You can't do this: name[0] = "F"
# you can create this
# name = name + "is not a real person"
# name: "Carlos Example is not a real person"

## Escape Sequences

\ are meant to proceed escape sequences.

In [24]:
print("Carlos Example \n is not real") # Here n represents a new line

Carlos Example
 is not real

In [25]:
print("Carlos Example \t is not real") # Here t represents a tab

Carlos Example 	 is not real

In [26]:
# If you want to place a backslash in your string you should use a double backslash in your string.
print("Carlos Example \\ is not real")

Carlos Example \ is not real

In [27]:
# Also you can place an r in front of the string.
print(r"Carlos Example \ is not real")

Carlos Example \ is not real

## String Methods

When we apply a method to a string "A" we get a new string "B" that it's different from "A"

In [28]:
# From lowerCase to UpperCase
A = "Thriller is the sixth studio album"
B = A.upper()
A == B,  B

(False, 'THRILLER IS THE SIXTH STUDIO ALBUM')

In [29]:
# Replace Method
# If we just want to replace a value in a string we can use the replace method.

A = "Maradona is the best football player"
B = A.replace("Maradona", "Messi")
B

'Messi is the best football player'

In [30]:
# With Find Method the output is the first index of the sequence
# In this example we are using the variable declared before
print(name)
print(name.find('mp'))

# If the sub-string is not in the string the output is negative one.
print("not in the string", name.find("house"))

Carlos Example
10
not in the string -1